body {
    background-image: linear-gradient(#f6f6f6 1.2000000000000002px,transparent 1.2000000000000002px),linear-gradient(to right,#f6f6f6 1.2000000000000002px,#fafafa 1.2000000000000002px);
    background-size: 24px 24px;
    background-color: #f3f4f6;
    padding: 0 20px;
}

/* app styles */
.modal {
    /* w-full h-screen fixed top-0 left-0 bg-[#d2d2d2d9] invisibl */
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d2d2d2d9;
    
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
}

.modal-active{
    visibility: visible;
    opacity: 1;
}

#flow-actions:hover #flow-actions-onhover{
    visibility: visible;
    opacity: 1;
}